## A CLASSIFICATION PROJECT - THE SEPSIS CASE STUDY

#### BUSINESS UNDERSTANDING
Sepsis is a critical health condition with significant implications for patient outcomes and healthcare systems. Predicting and managing sepsis effectively can reduce mortality rates, improve patient recovery, and decrease healthcare costs. This project aims to leverage machine learning models and FastAPI to predict sepsis, thereby enabling timely interventions and enhancing clinical decision-making. This project aims to enhance the early detection and management of sepsis through a machine learning-based predictive model deployed as an API with FastAPI. By addressing a critical healthcare challenge, the project seeks to improve patient outcomes, optimize resource utilization, and provide valuable decision support for healthcare providers. The success of the project will be measured by its impact on clinical practice and its ability to deliver timely, accurate predictions in a real-world healthcare setting.

#### Business Objectives
1. Early Detection: Develop a predictive model to identify patients at risk of sepsis early, allowing for prompt intervention and treatment.

2. Reduce Mortality Rates: Use the predictive model to minimize the time to diagnosis and treatment, thereby reducing sepsis-related deaths.

3. Optimize Resource Utilization: Allocate medical resources more efficiently by identifying high-risk patients, reducing unnecessary testing and treatments for low-risk individuals.

4. Enhance Clinical Decision-Making: Provide healthcare professionals with reliable tools to support clinical decisions, improving patient care quality.

##### HYPOTHESIS
NULL HYPOTHESIS: There is no significant relationship between sepsis and PRG (Plasma/glucose).

ALTERNATE HYPOTHESIS: There is a significant relationship between sepsis and PRG (Plasma /glucose).

#### ANALYTICAL QUESTIONS
1. How is the distribution of plasma glucose (PRG) among patients who develop sepsis versus those who don't?

2. What is the correlation between blood pressure (PR) and the likelihood of sepsis development?

3. Are there any noticeable differences in body mass index (M11) between patients with and without sepsis?

4. How does age vary between patients who develop sepsis and those who don't?

5. Is there a pattern in the blood work results (PL, SK, TS, BD2) that distinguishes patients with sepsis from those without?

#### DATA UNDERSTANDING

#### Load the necessary packages

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency
from scipy import stats
from tabulate import tabulate
#Machine Learning Packages
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.pipeline import Pipeline
from sklearn.metrics import f1_score
from sklearn.model_selection import RandomizedSearchCV
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from imblearn.pipeline import Pipeline as imbpipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import RobustScaler, OneHotEncoder
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve, auc
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from imblearn.over_sampling import RandomOverSampler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from imblearn.over_sampling import SMOTE
from imblearn.pipeline import Pipeline as imbPipeline
from sklearn.feature_selection import SelectKBest, mutual_info_classif
import joblib
import warnings
warnings.filterwarnings('ignore')

#### Load the datasets

In [9]:
#Load training dataset
df = pd.read_csv("Datasets/Paitients_Files_Train.csv")
df

            ID  PRG   PL  PR  SK   TS   M11    BD2  Age  Insurance   Sepssis
0    ICU200010    6  148  72  35    0  33.6  0.627   50          0  Positive
1    ICU200011    1   85  66  29    0  26.6  0.351   31          0  Negative
2    ICU200012    8  183  64   0    0  23.3  0.672   32          1  Positive
3    ICU200013    1   89  66  23   94  28.1  0.167   21          1  Negative
4    ICU200014    0  137  40  35  168  43.1  2.288   33          1  Positive
..         ...  ...  ...  ..  ..  ...   ...    ...  ...        ...       ...
594  ICU200604    6  123  72  45  230  33.6  0.733   34          0  Negative
595  ICU200605    0  188  82  14  185  32.0  0.682   22          1  Positive
596  ICU200606    0   67  76   0    0  45.3  0.194   46          1  Negative
597  ICU200607    1   89  24  19   25  27.8  0.559   21          0  Negative
598  ICU200608    1  173  74   0    0  36.8  0.088   38          1  Positive

[599 rows x 11 columns]

#### Data Description: A summary of the dataset attributes:
* ID: number to represent patient ID

* PRG: Plasma glucose

* PL: Blood Work Result-1 (mu U/ml)

* PR: Blood Pressure (mm Hg)

* SK: Blood Work Result-2 (mm)

* TS: Blood Work Result-3 (mu U/ml)

* M11: Body mass index (weight in kg/(height in m)^2

* BD2: Blood Work Result-4 (mu U/ml)

* Age: patients age (years)

* Insurance: If a patient holds a valid insurance card

* Sepsis: Positive: if a patient in ICU will develop a sepsis , and Negative: otherwise

In [12]:
#Load the test data
test_df = pd.read_csv("Datasets/Paitients_Files_Test.csv")
test_df

            ID  PRG   PL  PR  SK   TS   M11    BD2  Age  Insurance
0    ICU200609    1  109  38  18  120  23.1  0.407   26          1
1    ICU200610    1  108  88  19    0  27.1  0.400   24          1
2    ICU200611    6   96   0   0    0  23.7  0.190   28          1
3    ICU200612    1  124  74  36    0  27.8  0.100   30          1
4    ICU200613    7  150  78  29  126  35.2  0.692   54          0
..         ...  ...  ...  ..  ..  ...   ...    ...  ...        ...
164  ICU200773   10  101  76  48  180  32.9  0.171   63          1
165  ICU200774    2  122  70  27    0  36.8  0.340   27          1
166  ICU200775    5  121  72  23  112  26.2  0.245   30          1
167  ICU200776    1  126  60   0    0  30.1  0.349   47          1
168  ICU200777    1   93  70  31    0  30.4  0.315   23          1

[169 rows x 10 columns]

In [13]:
#Check cell values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         599 non-null    object
 1   PRG        599 non-null    int64
 2   PL         599 non-null    int64
 3   PR         599 non-null    int64
 4   SK         599 non-null    int64
 5   TS         599 non-null    int64
 6   M11        599 non-null    float64
 7   BD2        599 non-null    float64
 8   Age        599 non-null    int64
 9   Insurance  599 non-null    int64
 10  Sepssis    599 non-null    object
dtypes: float64(2), int64(7), object(2)
memory usage: 51.6+ KB

In [16]:
#Check for duplicates
df.duplicated().sum()

np.int64(0)

* This shows there are no duplicates in the dataset

In [17]:
#Check missing values
df.isna().sum()

ID           0
PRG          0
PL           0
PR           0
SK           0
TS           0
M11          0
BD2          0
Age          0
Insurance    0
Sepssis      0
dtype: int64

* This shows there are no missing values in the dataset

In [18]:
#Check statistics
df.describe().T

,count,mean,std,min,25%,50%,75%,max
PRG,599.0,3.824708,3.362839,0.000,1.000,3.000,6.000,17.00
PL,599.0,120.153589,32.682364,0.000,99.000,116.000,140.000,198.00
PR,599.0,68.732888,19.335675,0.000,64.000,70.000,80.000,122.00
SK,599.0,20.562604,16.017622,0.000,0.000,23.000,32.000,99.00
TS,599.0,79.460768,116.576176,0.000,0.000,36.000,123.500,846.00
M11,599.0,31.920033,8.008227,0.000,27.100,32.000,36.550,67.10
BD2,599.0,0.481187,0.337552,0.078,0.248,0.383,0.647,2.42
Age,599.0,33.290484,11.828446,21.000,24.000,29.000,40.000,81.00
Insurance,599.0,0.686144,0.464447,0.000,0.000,1.000,1.000,1.00

In [19]:
#Check Unique Values
def check_unique_values(df):
    for column in df.columns:
        unique_values = df[column].unique()
        print(f"Unique values in column '{column}': {unique_values}")

check_unique_values(df)

Unique values in column 'ID': ['ICU200010' 'ICU200011' 'ICU200012' 'ICU200013' 'ICU200014' 'ICU200015'
 'ICU200016' 'ICU200017' 'ICU200018' 'ICU200019' 'ICU200020' 'ICU200021'
 'ICU200022' 'ICU200023' 'ICU200024' 'ICU200025' 'ICU200026' 'ICU200027'
 'ICU200028' 'ICU200029' 'ICU200030' 'ICU200031' 'ICU200032' 'ICU200033'
 'ICU200034' 'ICU200035' 'ICU200036' 'ICU200037' 'ICU200038' 'ICU200039'
 'ICU200040' 'ICU200041' 'ICU200042' 'ICU200043' 'ICU200044' 'ICU200045'
 'ICU200046' 'ICU200047' 'ICU200048' 'ICU200049' 'ICU200050' 'ICU200051'
 'ICU200052' 'ICU200053' 'ICU200054' 'ICU200055' 'ICU200056' 'ICU200057'
 'ICU200058' 'ICU200059' 'ICU200060' 'ICU200061' 'ICU200062' 'ICU200063'
 'ICU200064' 'ICU200065' 'ICU200066' 'ICU200067' 'ICU200068' 'ICU200069'
 'ICU200070' 'ICU200071' 'ICU200072' 'ICU200073' 'ICU200074' 'ICU200075'
 'ICU200076' 'ICU200077' 'ICU200078' 'ICU200079' 'ICU200080' 'ICU200081'
 'ICU200082' 'ICU200083' 'ICU200084' 'ICU200085' 'ICU200086' 'ICU200087'
 'ICU200088' 'ICU200089' 'ICU200090' 'ICU200091' 'ICU200092' 'ICU200093'
 'ICU200094' 'ICU200095' 'ICU200096' 'ICU200097' 'ICU200098' 'ICU200099'
 'ICU200100' 'ICU200101' 'ICU200102' 'ICU200103' 'ICU200104' 'ICU200105'
 'ICU200106' 'ICU200107' 'ICU200108' 'ICU200109' 'ICU200110' 'ICU200111'
 'ICU200112' 'ICU200113' 'ICU200114' 'ICU200115' 'ICU200116' 'ICU200117'
 'ICU200118' 'ICU200119' 'ICU200120' 'ICU200121' 'ICU200122' 'ICU200123'
 'ICU200124' 'ICU200125' 'ICU200126' 'ICU200127' 'ICU200128' 'ICU200129'
 'ICU200130' 'ICU200131' 'ICU200132' 'ICU200133' 'ICU200134' 'ICU200135'
 'ICU200136' 'ICU200137' 'ICU200138' 'ICU200139' 'ICU200140' 'ICU200141'
 'ICU200142' 'ICU200143' 'ICU200144' 'ICU200145' 'ICU200146' 'ICU200147'
 'ICU200148' 'ICU200149' 'ICU200150' 'ICU200151' 'ICU200152' 'ICU200153'
 'ICU200154' 'ICU200155' 'ICU200156' 'ICU200157' 'ICU200158' 'ICU200159'
 'ICU200160' 'ICU200161' 'ICU200162' 'ICU200163' 'ICU200164' 'ICU200165'
 'ICU200166' 'ICU200167' 'ICU200168' 'ICU200169' 'ICU200170' 'ICU200171'
 'ICU200172' 'ICU200173' 'ICU200174' 'ICU200175' 'ICU200176' 'ICU200177'
 'ICU200178' 'ICU200179' 'ICU200180' 'ICU200181' 'ICU200182' 'ICU200183'
 'ICU200184' 'ICU200185' 'ICU200186' 'ICU200187' 'ICU200188' 'ICU200189'
 'ICU200190' 'ICU200191' 'ICU200192' 'ICU200193' 'ICU200194' 'ICU200195'
 'ICU200196' 'ICU200197' 'ICU200198' 'ICU200199' 'ICU200200' 'ICU200201'
 'ICU200202' 'ICU200203' 'ICU200204' 'ICU200205' 'ICU200206' 'ICU200207'
 'ICU200208' 'ICU200209' 'ICU200210' 'ICU200211' 'ICU200212' 'ICU200213'
 'ICU200214' 'ICU200215' 'ICU200216' 'ICU200217' 'ICU200218' 'ICU200219'
 'ICU200220' 'ICU200221' 'ICU200222' 'ICU200223' 'ICU200224' 'ICU200225'
 'ICU200226' 'ICU200227' 'ICU200228' 'ICU200229' 'ICU200230' 'ICU200231'
 'ICU200232' 'ICU200233' 'ICU200234' 'ICU200235' 'ICU200236' 'ICU200237'
 'ICU200238' 'ICU200239' 'ICU200240' 'ICU200241' 'ICU200242' 'ICU200243'
 'ICU200244' 'ICU200245' 'ICU200246' 'ICU200247' 'ICU200248' 'ICU200249'
 'ICU200250' 'ICU200251' 'ICU200252' 'ICU200253' 'ICU200254' 'ICU200255'
 'ICU200256' 'ICU200257' 'ICU200258' 'ICU200259' 'ICU200260' 'ICU200261'
 'ICU200262' 'ICU200263' 'ICU200264' 'ICU200265' 'ICU200266' 'ICU200267'
 'ICU200268' 'ICU200269' 'ICU200270' 'ICU200271' 'ICU200272' 'ICU200273'
 'ICU200274' 'ICU200275' 'ICU200276' 'ICU200277' 'ICU200278' 'ICU200279'
 'ICU200280' 'ICU200281' 'ICU200282' 'ICU200283' 'ICU200284' 'ICU200285'
 'ICU200286' 'ICU200287' 'ICU200288' 'ICU200289' 'ICU200290' 'ICU200291'
 'ICU200292' 'ICU200293' 'ICU200294' 'ICU200295' 'ICU200296' 'ICU200297'
 'ICU200298' 'ICU200299' 'ICU200300' 'ICU200301' 'ICU200302' 'ICU200303'
 'ICU200304' 'ICU200305' 'ICU200306' 'ICU200307' 'ICU200308' 'ICU200309'
 'ICU200310' 'ICU200311' 'ICU200312' 'ICU200313' 'ICU200314' 'ICU200315'
 'ICU200316' 'ICU200317' 'ICU200318' 'ICU200319' 'ICU200320' 'ICU200321'
 'ICU200322' 'ICU200323' 'ICU200324' 'ICU200325' 'ICU200326' 'ICU200327'
 'ICU200328' 'ICU200329' 'ICU200330' 'ICU200331' 'ICU200332' 'ICU200333'
 'ICU200334' 'ICU200335' 'ICU200336' 'ICU200337' 'ICU200338' 'ICU200339'
 'ICU200340' 'ICU200341' 'ICU200342' 'ICU200343' 'ICU200344' 'ICU200345'
 'ICU200346' 'ICU200347' 'ICU200348' 'ICU200349' 'ICU200350' 'ICU200351'
 'ICU200352' 'ICU200353' 'ICU200354' 'ICU200355' 'ICU200356' 'ICU200357'
 'ICU200358' 'ICU200359' 'ICU200360' 'ICU200361' 'ICU200362' 'ICU200363'
 'ICU200364' 'ICU200365' 'ICU200366' 'ICU200367' 'ICU200368' 'ICU200369'
 'ICU200370' 'ICU200371' 'ICU200372' 'ICU200373' 'ICU200374' 'ICU200375'
 'ICU200376' 'ICU200377' 'ICU200378' 'ICU200379' 'ICU200380' 'ICU200381'
 'ICU200382' 'ICU200383' 'ICU200384' 'ICU200385' 'ICU200386' 'ICU200387'
 'ICU200388' 'ICU200389' 'ICU200390' 'ICU200391' 'ICU200392' 'ICU200393'
 'ICU200394' 'ICU200395' 'ICU200396' 'ICU200397' 'ICU200398' 'ICU200399'
 'ICU200400' 'ICU200401' 'ICU200402' 'ICU200403' 'ICU200404' 'ICU200405'
 'ICU200406' 'ICU200407' 'ICU200408' 'ICU200409' 'ICU200410' 'ICU200411'
 'ICU200412' 'ICU200413' 'ICU200414' 'ICU200415' 'ICU200416' 'ICU200417'
 'ICU200418' 'ICU200419' 'ICU200420' 'ICU200421' 'ICU200422' 'ICU200423'
 'ICU200424' 'ICU200425' 'ICU200426' 'ICU200427' 'ICU200428' 'ICU200429'
 'ICU200430' 'ICU200431' 'ICU200432' 'ICU200433' 'ICU200434' 'ICU200435'
 'ICU200436' 'ICU200437' 'ICU200438' 'ICU200439' 'ICU200440' 'ICU200441'
 'ICU200442' 'ICU200443' 'ICU200444' 'ICU200445' 'ICU200446' 'ICU200447'
 'ICU200448' 'ICU200449' 'ICU200450' 'ICU200451' 'ICU200452' 'ICU200453'
 'ICU200454' 'ICU200455' 'ICU200456' 'ICU200457' 'ICU200458' 'ICU200459'
 'ICU200460' 'ICU200461' 'ICU200462' 'ICU200463' 'ICU200464' 'ICU200465'
 'ICU200466' 'ICU200467' 'ICU200468' 'ICU200469' 'ICU200470' 'ICU200471'
 'ICU200472' 'ICU200473' 'ICU200474' 'ICU200475' 'ICU200476' 'ICU200477'
 'ICU200478' 'ICU200479' 'ICU200480' 'ICU200481' 'ICU200482' 'ICU200483'
 'ICU200484' 'ICU200485' 'ICU200486' 'ICU200487' 'ICU200488' 'ICU200489'
 'ICU200490' 'ICU200491' 'ICU200492' 'ICU200493' 'ICU200494' 'ICU200495'
 'ICU200496' 'ICU200497' 'ICU200498' 'ICU200499' 'ICU200500' 'ICU200501'
 'ICU200502' 'ICU200503' 'ICU200504' 'ICU200505' 'ICU200506' 'ICU200507'
 'ICU200508' 'ICU200509' 'ICU200510' 'ICU200511' 'ICU200512' 'ICU200513'
 'ICU200514' 'ICU200515' 'ICU200516' 'ICU200517' 'ICU200518' 'ICU200519'
 'ICU200520' 'ICU200521' 'ICU200522' 'ICU200523' 'ICU200524' 'ICU200525'
 'ICU200526' 'ICU200527' 'ICU200528' 'ICU200529' 'ICU200530' 'ICU200531'
 'ICU200532' 'ICU200533' 'ICU200534' 'ICU200535' 'ICU200536' 'ICU200537'
 'ICU200538' 'ICU200539' 'ICU200540' 'ICU200541' 'ICU200542' 'ICU200543'
 'ICU200544' 'ICU200545' 'ICU200546' 'ICU200547' 'ICU200548' 'ICU200549'
 'ICU200550' 'ICU200551' 'ICU200552' 'ICU200553' 'ICU200554' 'ICU200555'
 'ICU200556' 'ICU200557' 'ICU200558' 'ICU200559' 'ICU200560' 'ICU200561'
 'ICU200562' 'ICU200563' 'ICU200564' 'ICU200565' 'ICU200566' 'ICU200567'
 'ICU200568' 'ICU200569' 'ICU200570' 'ICU200571' 'ICU200572' 'ICU200573'
 'ICU200574' 'ICU200575' 'ICU200576' 'ICU200577' 'ICU200578' 'ICU200579'
 'ICU200580' 'ICU200581' 'ICU200582' 'ICU200583' 'ICU200584' 'ICU200585'
 'ICU200586' 'ICU200587' 'ICU200588' 'ICU200589' 'ICU200590' 'ICU200591'
 'ICU200592' 'ICU200593' 'ICU200594' 'ICU200595' 'ICU200596' 'ICU200597'
 'ICU200598' 'ICU200599' 'ICU200600' 'ICU200601' 'ICU200602' 'ICU200603'
 'ICU200604' 'ICU200605' 'ICU200606' 'ICU200607' 'ICU200608']
Unique values in column 'PRG': [ 6  1  8  0  5  3 10  2  4  7  9 11 13 15 17 12 14]
Unique values in column 'PL': [148  85 183  89 137 116  78 115 197 125 110 168 139 189 166 100 118 107
 103 126  99 196 119 143 147  97 145 117 109 158  88  92 122 138 102  90
 111 180 133 106 171 159 146  71 105 101 176 150  73 187  84  44 141 114
  95 129  79   0  62 131 112 113  74  83 136  80 123  81 134 142 144  93
 163 151  96 155  76 160 124 162 132 120 173 170 128 108 154  57 156 153
 188 152 104  87  75 179 130 194 181 135 184 140 177 164  91 165  86 193
 191 161 167  77 182 157 178  61  98 127  82  72 172  94 175 195  68 186
 198 121  67]
Unique values in column 'PR': [ 72  66  64  40  74  50   0  70  96  92  80  60  84  30  88  90  94  76
  82  75  58  78  68 110  56  62  85  86  48  44  65 108  55 122  54  52
  98 104  95  46 102 100  61  24]
Unique values in column 'SK': [35 29  0 23 32 45 19 47 38 30 41 33 26 15 36 11 31 37 42 25 18 24 39 27
 21 34 10 60 13 20 22 28 54 40 51 56 14 17 50 44 12 46 16  7 52 43 48  8
 49 63 99]
Unique values in column 'TS': [  0  94 168  88 543 846 175 230  83  96 235 146 115 140 110 245  54 192
 207  70 240  82  36  23 300 342 304 142 128  38 100  90 270  71 125 176
  48  64 228  76 220  40 152  18 135 495  37  51  99 145 225  49  50  92
 325  63 284 119 204 155 485  53 114 105 285 156  78 130  55  58 160 210
 318  44 190 280  87 271 129 120 478  56  32 744 370  45 194 680 402 258
 375 150  67  57 116 278 122 545  75  74 182 360 215 184  42 132 148 180
 205  85 231  29  68  52 255 171  73 108  43 167 249 293  66 465  89 158
  84  72  59  81 196 415 275 165 579 310  61 474 170 277  60  14  95 237
 191 328 250 480 265 193  79  86 326 188 106  65 166 274  77 126 330 600
 185  25]
Unique values in column 'M11': [33.6 26.6 23.3 28.1 43.1 25.6 31.  35.3 30.5  0.  37.6 38.  27.1 30.1
 25.8 30.  45.8 29.6 43.3 34.6 39.3 35.4 39.8 29.  36.6 31.1 39.4 23.2
 22.2 34.1 36.  31.6 24.8 19.9 27.6 24.  33.2 32.9 38.2 37.1 34.  40.2
 22.7 45.4 27.4 42.  29.7 28.  39.1 19.4 24.2 24.4 33.7 34.7 23.  37.7
 46.8 40.5 41.5 25.  25.4 32.8 32.5 42.7 19.6 28.9 28.6 43.4 35.1 32.
 24.7 32.6 43.2 22.4 29.3 24.6 48.8 32.4 38.5 26.5 19.1 46.7 23.8 33.9
 20.4 28.7 49.7 39.  26.1 22.5 39.6 29.5 34.3 37.4 33.3 31.2 28.2 53.2
 34.2 26.8 55.  42.9 34.5 27.9 38.3 21.1 33.8 30.8 36.9 39.5 27.3 21.9
 40.6 47.9 50.  25.2 40.9 37.2 44.2 29.9 31.9 28.4 43.5 32.7 67.1 45.
 34.9 27.7 35.9 22.6 33.1 30.4 52.3 24.3 22.9 34.8 30.9 40.1 23.9 37.5
 35.5 42.8 42.6 41.8 35.8 37.8 28.8 23.6 35.7 36.7 45.2 44.  46.2 35.
 43.6 44.1 18.4 29.2 25.9 32.1 36.3 40.  25.1 27.5 45.6 27.8 24.9 25.3
 37.9 27.  26.  38.7 20.8 36.1 30.7 32.3 52.9 21.  39.7 25.5 26.2 19.3
 38.1 23.5 45.5 23.1 39.9 36.8 21.8 41.  42.2 34.4 27.2 36.5 29.8 39.2
 38.4 36.2 48.3 20.  22.3 45.7 23.7 22.1 42.1 42.4 18.2 26.4 45.3 37.
 24.5 32.2 59.4 21.2 26.7 30.2 46.1 41.3 38.8 35.2 42.3 40.7 46.5 33.5
 37.3 30.3 26.3 21.7 36.4 28.5 26.9 38.6 31.3]
Unique values in column 'BD2': [0.627 0.351 0.672 0.167 2.288 0.201 0.248 0.134 0.158 0.232 0.191 0.537
 1.441 0.398 0.587 0.484 0.551 0.254 0.183 0.529 0.704 0.388 0.451 0.263
 0.205 0.257 0.487 0.245 0.337 0.546 0.851 0.267 0.188 0.512 0.966 0.42
 0.665 0.503 1.39  0.271 0.696 0.235 0.721 0.294 1.893 0.564 0.586 0.344
 0.305 0.491 0.526 0.342 0.467 0.718 0.962 1.781 0.173 0.304 0.27  0.699
 0.258 0.203 0.855 0.845 0.334 0.189 0.867 0.411 0.583 0.231 0.396 0.14
 0.391 0.37  0.307 0.102 0.767 0.237 0.227 0.698 0.178 0.324 0.153 0.165
 0.443 0.261 0.277 0.761 0.255 0.13  0.323 0.356 0.325 1.222 0.179 0.262
 0.283 0.93  0.801 0.207 0.287 0.336 0.247 0.199 0.543 0.192 0.588 0.539
 0.22  0.654 0.223 0.759 0.26  0.404 0.186 0.278 0.496 0.452 0.403 0.741
 0.361 1.114 0.457 0.647 0.088 0.597 0.532 0.703 0.159 0.268 0.286 0.318
 0.272 0.572 0.096 1.4   0.218 0.085 0.399 0.432 1.189 0.687 0.137 0.637
 0.833 0.229 0.817 0.204 0.368 0.743 0.722 0.256 0.709 0.471 0.495 0.18
 0.542 0.773 0.678 0.719 0.382 0.319 0.19  0.956 0.084 0.725 0.299 0.244
 0.745 0.615 1.321 0.64  0.142 0.374 0.383 0.578 0.136 0.395 0.187 0.905
 0.15  0.874 0.236 0.787 0.407 0.605 0.151 0.289 0.355 0.29  0.375 0.164
 0.431 0.742 0.514 0.464 1.224 1.072 0.805 0.209 0.666 0.101 0.198 0.652
 2.329 0.089 0.645 0.238 0.394 0.293 0.479 0.686 0.831 0.582 0.446 0.402
 1.318 0.329 1.213 0.427 0.282 0.143 0.38  0.284 0.249 0.926 0.557 0.092
 0.655 1.353 0.612 0.2   0.226 0.997 0.933 1.101 0.078 0.24  1.136 0.128
 0.422 0.251 0.677 0.296 0.454 0.744 0.881 0.28  0.259 0.619 0.808 0.34
 0.434 0.757 0.613 0.692 0.52  0.412 0.84  0.839 0.156 0.215 0.326 1.391
 0.875 0.313 0.433 0.626 1.127 0.315 0.345 0.129 0.527 0.197 0.731 0.148
 0.123 0.127 0.122 1.476 0.166 0.932 0.343 0.893 0.331 0.472 0.673 0.389
 0.485 0.349 0.279 0.346 0.252 0.243 0.58  0.559 0.302 0.569 0.378 0.385
 0.499 0.306 0.234 2.137 1.731 0.545 0.225 0.816 0.528 0.509 1.021 0.821
 0.947 1.268 0.221 0.66  0.239 0.949 0.444 0.463 0.803 1.6   0.944 0.196
 0.241 0.161 0.135 0.376 1.191 0.702 0.674 1.076 0.534 1.095 0.554 0.624
 0.219 0.507 0.561 0.421 0.516 0.264 0.328 0.233 0.108 1.138 0.147 0.727
 0.435 0.497 0.23  0.955 2.42  0.658 0.33  0.51  0.285 0.415 0.381 0.832
 0.498 0.212 0.364 1.001 0.46  0.733 0.416 0.705 1.022 0.269 0.6   0.571
 0.607 0.17  0.21  0.126 0.711 0.466 0.162 0.419 0.63  0.365 0.536 1.159
 0.629 0.292 0.145 1.144 0.174 0.547 0.163 0.738 0.314 0.968 0.409 0.297
 0.525 0.154 0.771 0.107 0.493 0.717 0.917 0.501 1.251 0.735 0.804 0.661
 0.549 0.825 0.423 1.034 0.16  0.341 0.68  0.591 0.3   0.121 0.502 0.401
 0.601 0.748 0.338 0.43  0.892 0.813 0.693 0.575 0.371 0.206 0.417 1.154
 0.925 0.175 1.699 0.682 0.194]
Unique values in column 'Age': [50 31 32 21 33 30 26 29 53 54 34 57 59 51 27 41 43 22 38 60 28 45 35 46
 56 37 48 40 25 24 58 42 44 39 36 23 61 69 62 55 65 47 52 66 49 63 67 72
 81 64]
Unique values in column 'Insurance': [0 1]
Unique values in column 'Sepssis': ['Positive' 'Negative']

#### Rename the Columns

In [21]:
df = df.rename(columns={'PRG': 'Plasma Glucose', 'PL': 'Blood Work Result-1',
                        'PR': 'Blood Pressure','SK': 'Blood Work Result-2',
                        'TS': 'Blood Work Result-3', 'M11': 'Body Mass Index',
                        'BD2': 'Blood Work Result-4'})

In [22]:
#Preview the dataset
df.head()

,ID,Plasma Glucose,Blood Work Result-1,Blood Pressure,Blood Work Result-2,Blood Work Result-3,Body Mass Index,Blood Work Result-4,Age,Insurance,Sepssis
0,ICU200010,6,148,72,35,0,33.6,0.627,50,0,Positive
1,ICU200011,1,85,66,29,0,26.6,0.351,31,0,Negative
2,ICU200012,8,183,64,0,0,23.3,0.672,32,1,Positive
3,ICU200013,1,89,66,23,94,28.1,0.167,21,1,Negative
4,ICU200014,0,137,40,35,168,43.1,2.288,33,1,Positive